<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>JSON Processor - {% block title_block %}{% endblock %}</title>
</head>
<body>
<nav>
  <ul>
    <li><a href="{% url 'json_processor:index' %}">Home</a></li>
    <li><a href="{% url 'json_processor:upload_data' %}">Upload Data</a></li>
    <li><a href="{% url 'json_processor:start_test' %}">Start Test</a></li>
    <li><a href="{% url 'json_processor:show_test_info' 'last' %}">Show Last Test Info</a></li>
  </ul>
</nav>
{% block body_block %}
{% endblock %}
</body>
</html>
